[Unit]
Description=Kvasir joystick Controller
After=network.target

[Service]
# Run the service as the 'pi' user
User=pi
# Optionally set the working directory (e.g., your workspace)
WorkingDirectory=/home/pi
# Execute the shell script you created
ExecStart=/home/pi/ros2_ws/src/kvasir_joystick_controller/scripts/do_launch.sh
# Restart the service if it fails
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
